body {
	margin: 0;
	background-image: url("bg.jpg");
	font-size: 16px;
	text-align: center;
}


#header{
	margin-top: 10px;
	margin-bottom: 10px;
}

#main{
	width:70%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto ;
	margin-right: auto ;
}

#mainmain{
	    border-radius:14px;
		background-image: url("denim_fabric_diff_1k");
		margin-top: 10px;
		background-color:　#99cc00;
		text-align: left;
		-ms-filter: blur(6px);
  　　　filter: blur(6px);
}
