body{
color:#ffffff;
background:url(image/background01-2.png);
}

#top{
margin:45px auto;
float:top;
height:180px;
width:1000px;
background-color:#A2FFF5;
background:url(image/New_header.gif);
}

#menu{
width:1500px;
background-color:#696969;
margin:0;
list-style-type:none;
}

#menu li{
display: block;
float:left;
text-align:center;
}

#menu li.one a{
background:url(image/menu/menu_botan_HOME1.png);
 height:80px;
 width:200px;
 text-decoration:none;
 display:block;
 font-size:300%;
 height:80px;
}

#menu li.one a:hover{
background:url(image/menu/menu_botan_HOME2.png);
text-indent:-99999px;
}

#menu li.two a{
background:url(image/menu/menu_botan_START1.png);
 height:80px;
 width:200px;
 text-decoration:none;
 display:block;
 font-size:300%;
 height:80px;
 }

 #menu li.two a:hover{
 text-indent:-99999px;
background:url(image/menu/menu_botan_START2.png);
}

#menu li.three a{
background:url(image/menu/menu_botan_FOOD1.png);
 height:80px;
 width:200px;
 text-decoration:none;
 display:block;
 font-size:300%;
 height:80px;
 
}

#menu li.three a:hover{
text-indent:-99999px;
background-color:#8D353B;
background:url(image/menu/menu_botan_FOOD2.png);
}

#menu li.four a{
 height:80px;
 width:200px;
 text-decoration:none;
 display:block;
 font-size:300%;
 height:80px;
background:url(image/menu/menu_botan_SHOP1.png);
 }

#menu li.four a:hover{
text-indent:-99999px;
background:url(image/menu/menu_botan_SHOP2.png);
}

#menu li.five a{
 height:80px;
 width:200px;
 text-decoration:none;
 display:block;
 font-size:300%;
 height:80px;
background:url(image/menu/menu_botan_PARK1.png);
 }

#menu li.five a:hover{
text-indent:-99999px;
background:url(image/menu/menu_botan_PARK2.png);
}

#menu_Box{
float:top;
height:80px;
width:auto;
background-color:#630501;
}

#middle{
margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
float:middle;
min-width:1150px;
height:900px;
}

#right{
width:900px;
height:900px;
float:right;
background-color:#0f0f65;
}

p{
padding:10px;
}
.self-box_K {
width: 700px;
margin: auto;
}
.self-box_K img{
float: left;
width: 140px;
height: 140px;
border: solid 10px;
border-color: #000000;
}
.text_K{
width: 700px;
height: 160px;
background-color: #000000;
color: #ffffff;
}


.self-box_Y {
width: 700px;
margin: auto;
}
.self-box_Y img {
border: solid 10px;
border-color:#000000;
float: right;
width:140px;
height:140px;
}
.self-box_Y .text_Y {
border: solid 10px:
border-color;#000000:
width: 700px;
height: 160px;
background: #000000;
color: #ffffff;
}

.pixel_picture{
width=34pc 
height=89px
margin:20 auto;
display:block;
background-color:#666666;
}


#left{
min-width:150px;
height:900px;
float:left;
background-color:#de7c70;
}

#bottom{
margin:auto;
height:180px;
width:1000px;
float:bottom;
background-color:white;
}
