body{
color:#ffffff;
margin:0;
background:url(image/background01-2.png);
}

#top{
margin:45px auto;
float:top;
height:180px;
width:1000px;
background-color:#A2FFF5;
background:url(image/New_header.gif);
}

#menu{
width:1500px;
background: #000000;
margin:0;
list-style-type:none;
}

#menu li{
background: #000000;
display: block;
float:left;
text-align:center;
}

#menu li.one a{
 height:80px;
 width:200px;
 text-decoration:none;
 display:block;
 font-size:300%;
 height:80px;
 background:black;

 }

#menu li.one a:hover{
background:url(image/menu/menu1.png);
background-color:#8D353B;
text-indent:-99999px;
}

#menu li.two a{
 height:80px;
 width:200px;
 text-decoration:none;
 display:block;
 font-size:300%;
 height:80px;
 background:black;

 }

 #menu li.two a:hover{
 text-indent:-99999px;
 background:url(image/menu/menu2.png);
background-color:#8D353B;
}

#menu li.three a{
 height:80px;
 width:200px;
 text-decoration:none;
 display:block;
 font-size:300%;
 height:80px;
 background:black;

 }

#menu li.three a:hover{
text-indent:-99999px;
background-color:#8D353B;
 background:url(image/menu/menu3.png);
}

#menu li.four a{
 height:80px;
 width:200px;
 text-decoration:none;
 display:block;
 font-size:300%;
 height:80px;
 background:black;
 }

#menu li.four a:hover{
text-indent:-99999px;
background:url(image/menu/menu4.png);
background-color:#8D353B;
}

#menu li.five a{
 height:80px;
 width:200px;
 text-decoration:none;
 display:block;
 font-size:300%;
 height:80px;
 background:black;
 }

#menu li.five a:hover{
text-indent:-99999px;
 background:url(image/menu/menu5.png);
background-color:#8D353B;
}

#menu_Box{
float:top;
height:80px;
width:auto;
background-color:#000000;
}

#middle{
margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
float:middle;
width:1000px;
height:900px;
}

#right{
width:800px;
height:900px;
float:right;
background-color:#0f0f65;
}

.self-box_K {
    width: 1200px ;
    margin: 5px ;
    overflow: hidden;
}

.self-box_K .faceicon {
    float: left;
    margin-right:0px;
    width: 150px;
    height: 150px;
}

.self-box_K .faceicon img{
    width: 140px;
    height: 140px ;
    border: solid 10px ;
    border-color: #000000;
   }

.self-box_K .text {
    width: 900px;
    height: 160px;
}

.telling_K {
    height: 200px;
    width: 700px;
    margin: 5px;
    background: #000000;
    color: #ffffff ;
}


.telling_K p {
    margin: 0;
    padding: 0;
}

.self-box_Y {
    width: 1200px ;
    margin: 5px ;
    overflow: hidden;
}

.self-box_Y .faceicon {
    float: left;
    margin-right: 0px;
    width: 150px;
    height: 150px;
}

.self-box_Y .faceicon img{
    width: 140px;
    height: 140px ;
    border: solid 10px ;
    border-color: #000000;
   }

.self-box_Y .text {
    width: 900px;
    height: 160px;
}

.telling _Y　{
    height: 200px;
    width: 700px;
    margin: 5px;
    background: #000000;
    color: #ffffff ;
}


.teiilng_Y p {
    margin: 0;
    padding: 0;
}


#left{
width:200px;
height:900px;
float:left;
background-color:#de7c70;
}

#bottom{
margin:auto;
height:180px;
width:1000px;
float:bottom;
background-color:white;
}
